*{
    margin: 0;
    padding: 0;
}
.top{
    padding: 80px;
    color: white;
    background-color: #96252b;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 110px;
    position: relative;
}
.top h1{
    font-size: 90px;
    margin-top: 30px;
    font-weight: 900;
}
.top h2{
    font-size: 44px;
    color: black;
    margin-bottom: 50px;
    font-weight: 900;
    line-height: 10px;
}
.top p{
    font-size: 25px;
    letter-spacing: 1px;
    margin-top: 20px;
    padding-top: 20px;
}
.top .side{
       width: 130px;
       position: absolute;
       bottom: 0;
       right: 0;
       filter:brightness(20)
}
.containor{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.heading{
    display: flex;
    align-items: center;
    gap: 20px;
}
.heading h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
    font-weight: 900;
}
.heading img{
    width:60px ;
}
.bullet img{
    width: 120px;
    padding-bottom: 20px;
}
.box{
    display: flex;
    gap: 80px;
}
.bullet{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
}
.bullet h4{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #96252b;
    font-weight: 900;
}
.bullet p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 900;
}
main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 100px 0;

}
.end{
    background-color: #96252b;
    color: white;
    align-items: center;
    justify-content: center;
    padding-left: 120px;
    padding-top: 120px;
    font-size: 37px;
    line-height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    word-spacing: 4px;
    position: relative;
    padding-bottom: 100px;
}
.end img{
      width: 130px;
       position: absolute;
       bottom: 0;
       right: 0;
       filter:brightness(20)
}
